<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://emptyhealthsite1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>emptyhealthsite1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>emptyhealthsite1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$emptyhealthsite1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HealthSiteConnectionString2" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=HealthSite;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HealthSiteConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=HealthSite;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HealthSiteConnectionString" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:sqlhealth1.database.windows.net,1433;Initial Catalog=HealthSit;User ID=sqlhealth1@sqlhealth1;Password=test1229!@#$" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=HealthSite;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HealthSiteConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=HealthSite;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql">
            <Source Path="C:\Users\avma\Desktop\script.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HealthSiteEntities1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=HealthSite;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HealthSiteEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/App_Code.HealthSite.csdl|res://*/App_Code.HealthSite.ssdl|res://*/App_Code.HealthSite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=HealthSite;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HealthSiteEntities2" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=HealthSite;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HealthSiteEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/App_Code.HealthSite.csdl|res://*/App_Code.HealthSite.ssdl|res://*/App_Code.HealthSite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=HealthSite;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HealthSiteEntities3" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=HealthSite;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HealthSiteEntities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/App_Code.HealthSite.csdl|res://*/App_Code.HealthSite.ssdl|res://*/App_Code.HealthSite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=HealthSite;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HealthSiteEntities" Order="6" Enabled="True">
          <Destination Path="Data Source=tcp:sqlhealth1.database.windows.net,1433;AttachDbFilename=D:\ASPNETWORKS\HoMEWork\MSIT10811_Topics1\HealthSite.mdf;Initial Catalog=HealthSite;User ID=sqlhealth1@sqlhealth1;Password=test1229!@#$$" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=HealthSite;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HealthSiteEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/App_Code.HealthSite.csdl|res://*/App_Code.HealthSite.ssdl|res://*/App_Code.HealthSite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=HealthSite;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql">
            <Source Path="C:\Users\avma\Desktop\script.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HealthSiteConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:sqlhealth1.database.windows.net,1433;initial catalog=HealthSit;user id=sqlhealth1@sqlhealth1;password=test1229!@#$;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HealthSiteConnectionString2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HealthSiteEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/App_Code.HealthSite.csdl|res://*/App_Code.HealthSite.ssdl|res://*/App_Code.HealthSite.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:sqlhealth1.database.windows.net,1433;attachdbfilename=D:\ASPNETWORKS\HoMEWork\MSIT10811_Topics1\HealthSite.mdf;initial catalog=HealthSite;user id=sqlhealth1@sqlhealth1;password=test1229!@#$$;MultipleActiveResultSets=True"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HealthSiteEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HealthSiteEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HealthSiteEntities3-Web.config Connection String" />
  </ItemGroup>
</Project>